.footer{
    background: #ebebeb;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.footer > p{
    margin-left: 1rem;
    margin-top: 1rem;
}

.footerPolicy{
    display: flex;
    margin-left: 30rem;
    gap: 1rem;
    margin-top: 1rem;
}