.links{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1.75rem 0;

}

.links svg{
    font-size: 1.4rem;
}

.nav{
    display: flex;
    align-items: center;

}

.nav svg{
    margin-right: 0.5rem;
}

.nav button{
    color: rgb(52, 52, 52);
}